<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="cache/phpunit"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         testdox="true"
>
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="pre">
      <file>tests/Main/Bootstrap/BootstrapInputResolverTest.php</file>
      <file>tests/Main/Config/LintConfigParameterTest.php</file>
      <file>tests/Main/Config/LintConfigTest.php</file>
    </testsuite>
    <testsuite name="main">
      <directory>tests/Main/Resolver/Config</directory>
      <directory>tests/Main/Bootstrap</directory>
      <directory>tests/Main/DependencyInjection</directory>
      <directory>tests/Main/Finder</directory>
      <directory>tests/Main/Cache</directory>
      <directory>tests/Main/Process</directory>
      <directory>tests/Main/Lint</directory>
      <directory>tests/Main/Console</directory>
      <exclude>tests/Main/Bootstrap/BootstrapInputResolverTest.php</exclude>
    </testsuite>
    <testsuite name="e2e">
      <directory>tests/E2E/Console</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
